@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(60, 60, 60);
}

/* .cursor {
    z-index: 999;
    position: fixed;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: none;
} */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.2fr 1fr;
    grid-template-areas: 
        "sidebar about"
        "sidebar edu"
        "sidebar exp"
        "sidebar skill"
    ;
}

.sidebar {
    background: transparent;
    grid-area: sidebar;
}

.about {
    background: transparent;
    /* border: 3px solid white; */
    grid-area: about;
}       

.edu {
    background: transparent;
    /* border: 3px solid white; */
    grid-area: edu;
}

.exp {
    background: transparent;
    /* border: 3px solid white; */
    grid-area: exp;
}

.skill {
    background: transparent;
    /* border: 3px solid white; */
    grid-area: skill
}
.nav {
    margin-top: 100%;
    list-style-type: none;
    font-size: 30px;
    vertical-align: middle;
    overflow: hidden;
}

.nav li {
    padding: 5%;
}

.nav li a:hover {
    font-size: 110%;
    transition: all 0.5s ease;
    padding: 7.5%;
}

.nav li a {
    padding: 5%;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.about, .edu, .exp, .skill {
    padding: 2.5%;
}

.about {
    background: rgb(55, 55, 55);
    font-size: 20px;
    text-align: center;
}

.edu {
    background: rgb(50, 50, 50);
    text-align: justify;
}

.exp {
    background: rgb(45, 45, 45);
    text-align: justify;
}

.skill {
    background: rgb(40, 40, 40);
    text-align: justify;
}

.about img {
    border-radius: 50%;
    width: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about h1 {
    font-weight: 600;
}

.about .header-name {
    color: aquamarine;
}

.about .name {
    color: rgb(255, 253, 127);
    font-weight: 500;
}

.about p, h2 {
    text-align: justify;
}

.about .header-language {
    font-weight: 400;
}

.edu h2, .exp h2 {
    font-size: 30px;
    margin-top: 2.5px;
    margin-bottom: -10px;
}

.edu h3, .exp h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: -5px;
}

.edu h3 span, .exp h3 span{
    line-height: 40px;
}

.edu .important {
    color: rgb(50, 50, 50);
    background: rgb(225, 225, 225);
    padding: 0 10px;
    border-radius: 5px;
}

.edu .gpa {
    color: white;
    padding: 0 5px;
    border-radius: 5px;
    border: 3px solid white;
    line-height: 60px;
    margin-left: 5px;
}